.informacoestecnicas{
	display: block;
	width: 50%;
	&-wrapper{
		position: relative;
		display: block;
		text-align: center;
		font-weight: bold;
		border-bottom: 1px solid #cecece;
		padding: 10px;
		&:after{
			content: "";
			position: absolute;
			display: block;
			width: 150px;
			height: 5px;
			left: 0;
		    right: 0;
		    margin: 0 auto;
			background: #ba1820;
			bottom: -2px;
		}
	}
	&-box{
		border: 1px solid #cecece;
		padding-bottom: 20px;
		&--title{
			background: #ba1820;
			padding: 10px;
			color: #fff;
			text-transform: uppercase;
			font-family: sans-serif;
		    text-align: center;
		    font-weight: bold;	
		    margin: 0;
		}
		&--subtitle{
			text-align: center;
			color: #ba1820;
			font-weight: bold;
			margin-bottom: 0;
		}
		&--img{
			display: inline-block;
			width: 30%;
			vertical-align: top;
			img{
				float: right;
			}
		}
		&--description{
			display: inline-block;
			width: 68%;
			vertical-align: top;
			&--title{
				color: #484848;
    			text-transform: uppercase;
				font-weight: bold;
				font-family: sans-serif;
				line-height: 1.5rem;
			}
			&--text{
				display: inline-block;
				vertical-align: top;
			    margin: 8px;
			    text-transform: uppercase;
			    font-family: sans-serif;

			}
		}
		&--compatibility{
			display: block;
		    width: 90%;
		    margin: 0 auto;
		    text-align: center;
		    &--item{
		    	display: block;
		    	&.hidden{
		    		display: none;
		    	}
		    }
		    &--title{
		    	height: 30px;
		    	line-height: 30px;
		    	color: #fff;
		    	text-transform: uppercase;
		    	font-family: sans-serif;
		    	font-weight: bold;  	
			    &--100{
			    	background: #539b48;
			    }
			    &--comajuste{
			    	background: #edc81b;			    	
			    }			  
		    }
		    &--comajuste{
		    	&--comment{
		    		color: #000;
		    		text-transform: none;
		    		margin-bottom: 0;
		    		font-family: sans-serif;
		    	}
		    }
		}
	}
}