body{
	width: 100%;
	margin: 0;
}

.soho-blog{
	display: block;
    width: 100%;
    float: left;
    margin-bottom: 5%;
    .mobile{
    	display: none;
    }
	.desktop{
		display: block;
	}
    article{
    	font-size: 17px;
    	line-height: 1.5rem;
    	margin: 20px 0;
    }
	.main-banner{
		display: block;
	    width: 100%;
	    float: left;
	    img{
	    	width: 100%;
    		height: auto;
	    }
	}
	.content{
		display: block;
	    float: left;
	    width: 100%;
	    margin: 0 auto;
	    &--wrapper{
	    	width: 65%;
	    	margin: 0 auto;
	    	padding: 20px;
	    	border-bottom: 1px solid #e0e0e0;
	    }
	    &__category{
	    	&--tag{
	    		background: #000;
	    		color: #fff;
	    		padding: 7px;
    			font-size: .7rem;
	    	}
	    }
	    &__title{
    		text-transform: uppercase;	
    		p{
    			font-size: .8rem;
    		}    	
	    }
	    &__article{
	    	&--top{
	    		figure{
	    			margin: 0;
	    			img{
	    				width: 100%;
	    				height: auto;
	    			}
	    			figcaption{
	    				margin-top: 10px;
	    				color: #3d3d3d;
	    			}
	    		}
	    	}
	    	&--bottom{
	    		margin-top: 30px;
	    		&--list{
	    			h2{
	    				color: #f74d03;
	    				font-weight: bold;
	    			}
	    			ul{
	    				list-style: none;
	    				padding: 0;
	    				li{
							padding: 20px 0;
							text-indent: 2rem;
							line-height: 1.5rem;
							&:before{
								content: "";
								display: inline-block;
								width: 5px;
								height: 5px;
								background: #f74d03;
								border-radius: 50%;
								margin: 0 10px 4px 0;
							}
	    				}
	    			}
	    		}
	    		figure{
	    			display: inline-block;
	    			width: 54%;
    				margin: 0;
    				img{
    					width: 90%;
    					height: auto;
    					margin: 0 auto;
    				}
    				figcaption{
	    				margin-top: 10px;
	    				color: #3d3d3d;
	    			}
	    		}
	    		&--right{
	    			display: inline-block;
	    			width: 44%;
    				margin: 0;
    				vertical-align: top;
    				font-size: 19px;
	    		}
	    		&--quote{
	    			margin-bottom: 40px;
	    			blockquote{
	    				font-size: 22px;
	    				font-weight: bold;
	    				margin: 40px 0 0;
	    				line-height: 1.5rem;
	    				&:before{
	    					content: "\0022";
	    				}
	    				&:after{
	    					content: "\0022"
	    				}
	    			}
    				p{
    					color: #3d3d3d;
    					font-size: 14px;
    				}
	    		}
	    	}
	    	&--table{
	    		table{
	    			width: 100%;
	    			text-align: left;
		    		th, td{
		    			padding: 20px;
		    		}
		    		thead{
		    			background: #eeeeee;
		    			th{
		    				color: #f74d03;
		    				font-weight: bold;
		    				text-transform: uppercase;
		    				outline: 1px solid #e0e0e0;
		    			}
		    		}
		    		tbody{
		    			td{
		    				outline: 1px solid #e0e0e0;
		    			}
		    		}
	    		}
	    	}
	    }
	}
}

@media screen and (max-width: 800px){
	.soho-blog{
		.mobile{
			display: block;
		}
		.desktop{
			display: none !important;
		}	
		.content{
			&--wrapper{
		    	width: 90%;
		    	margin: 0 auto;
		    	padding: 20px;
		    	border-bottom: 1px solid #e0e0e0;
	   		}
	   		&__category{
		    	&--tag{
		    		display: inline-block;
		    		background: #ddddd9;
		    		color: #ff420d;
		    		width: 28%;
   					vertical-align: top;
		    	}
		    	&--date{
		    		display: inline-block;
		    		width: 65%;
		    		vertical-align: top;
		    		margin-left: 5px;
		    		span{
		    			display: block;
		    			text-transform: uppercase;
    					font-size: 12px;
		    		}
		    	}
		    }
		    &__article{
			    &--bottom{
			    	&--list{
			    		ul{
					    	li{
					    		padding: 10px 0;
					    		text-indent: 0;
					    	}			    			
			    		}
			    	}
			    	figure{
			    		display: block;
			    		width: 100%;
			    		img{
			    			width: 100%;
			    		}
			    	}
			    	&--right{
			    		display: block;
			    		width: 100%;
			    		margin-top: 15px;
			    	}
			    	&--quote{
			    		text-align: center;
			    	}
			    }		    	
		    	&--table{
		    		table{
		    			th, td{
		    				padding: 10px;
		    			}
		    		}
		    	}
		    }
		}	
	}
}