<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="blog.css">

<div class="soho-blog">
	<!-- <section class="main-banner">
		<div class="desktop">
			<img src="banner-desktop.png" alt="Banner Blog">			
		</div>

		<div class="mobile">
			<img src="banner-mobile.png" alt="Banner Blog">
		</div>
	</section> -->

	<section class="content">
		<div class="content--wrapper">
			<div class="content__category">
				<span class="content__category--tag">SEÇÃO DO BLOG</span>
				<div class="content__category--date mobile">
					<span class="date"> Junho de 2018 </span>
					<span class="update"> <em>  </em> </span>
				</div>
			</div>
			<div class="content__title">
				<h1>Como melhorar a performance da rede wireless nas residências?</h1>
				<p class="content__category--date desktop"> 
					<strong> </strong> 
					<span> <em> </em></span>
				</p>
			</div>
			<div class="content__article">
				<section class="content__article--top">			
					<article>
						A importância da rede wireless nas residências vem crescendo a cada dia. Você, que trabalha com equipamentos de informática, precisa estar por dentro!			
					</article>

					<figure>
						<img src="performance-wireless.jpg" alt="" width="" height="">
						<figcaption></figcaption>
					</figure>

					<article>
						<p>Você, que é proprietário de loja de informática, sabe que os <a href="https://www.sohoshop.com/storefront/p/roteador-wireless-gigabit-dualband-ac1200mbps/35510331">roteadores </a> são parte fundamental na montagem de qualquer modelo de rede wireless hoje em dia. Com o grande número de aparelhos mobile que precisam estar conectados, a demanda por equipamentos que forneçam acesso rápido e seguro à internet é crescente.</p>
						<p>Por conta disso, é importante saber passar para os seus clientes qual o melhor aparelho para cada ambiente ou ocasião específica. Para isso, você precisa conhecer alguns conceitos básicos para garantir uma boa performance da rede wireless, na intenção de fazer recomendações certeiras e ganhar prestígio. Conheça mais:</p>
					</article>
				</section>

				<section class="content__article--bottom">
					<h2>Largura de banda: medida que altera a performance na rede wireless</h2>

					<article>
						<p>O primeiro conceito que vamos tratar é sobre a largura de banda. Ela representa a medida da capacidade de transmissão na rede. É, basicamente, aquela opção de plano que escolhemos ao contratar um serviço de internet.</p>
						<p>Na prática, ela se refere à capacidade máxima que a rede irá oferecer para transferências e acessos. Isso reflete diretamente na velocidade de conexão de rede. Tal fato acontece porque existe uma relação básica: quanto maior a largura de banda, maior é a velocidade de acesso.</p>
						<p>Um problema existente quando a rede é distribuída através de um roteador Wi-Fi é que o sinal pode não chegar ao destino com total potência em função das interferências presentes no ambiente.</p>
						<p>O que isso significa? Bom, esse aspecto representa que a largura de banda Wi-Fi pode se tornar inferior quando comparada com uma conexão direta entre a internet externa e uma máquina. Por isso, existem outros aspectos que podem ajudar a fortalecer a rede wireless.</p>
						
					</article>

					<h2>Repetidores: aliados importantes para um sinal mais forte</h2>
					<article>
						<p>Os <a href="https://www.sohoshop.com/storefront/p/repetidor-wireless-multifuncoes-n-300mbps/35510330">repetidores </a>também são aparelhos indispensáveis em qualquer loja de informática. Mas, você sabe exatamente como ele funciona? O repetidor é o aparelho ideal para ser usado quando a intenção é aumentar a área de conexão do sinal da rede wireless.</p>
						<p>Nem sempre os roteadores conseguem transmitir o sinal com a mesma intensidade para todos os cômodos de uma casa, por exemplo. Por isso, eles atuam nos locais onde o sinal ainda chega com força intermediária, ou seja, com uma largura de banda Wi-Fi razoável, e prolonga esse sinal para outras áreas.</p>						
						<p>Indique os repetidores para pessoas que precisam de boa conexão em ambientes grandes, com vários cômodos. Aqui. vale uma observação: o repetidor não precisa ser da mesma marca que o roteador para funcionar, necessariamente.</p>

					</article>

					<h2>Frequência do roteador: qual a melhor opção?</h2>
					<article>
						<p>Outro ponto-chave que influencia a performance da rede wireless nas residências é a frequência do roteador. No mercado, as opções mais encontradas são as de frequência 2.4GHz ou de 5.0GHz.</p>
					</article>

					<h3>Diferença entre roteadores com frequência 2.4GHz e 5.0GHz</h3>
					<article>
						<p>A frequência de um roteador está ligada ao comprimento de onda em certo período de tempo. Quanto maior a frequência, menor o comprimento de onda. O que, na prática, significa que o sinal do roteador será transmitido no auge mais vezes do que outro que tenha frequência menor.</p>
						<p>Ou seja, a largura de banda fica ainda mais estável com a frequência alta de um roteador 5.0GHz, já que o sinal será enviado na capacidade máxima. Isso mostra uma vantagem em relação aos demais modelos.</p>
						<p>Porém, nem tudo são flores quando o foco do assunto está em roteadores com frequência maior. Existe uma grande desvantagem: quanto maior a frequência, menor a distância que o sinal pode chegar. Também é maior a dificuldade de passar por objetos que estejam entre o roteador que transmite o sinal e o aparelho que solicita o acesso.</p>
						<p>Assim, para melhorar a performance de uma rede wireless, é possível optar pela frequência menor (se o cliente precisa que o sinal chegue mais longe) ou pela maior (se ele quiser uma rede mais estável, sabendo que o acesso deve ficar próximo ao roteador). Outra vantagem da frequência de 5GHz é que ela é menos “poluída” que a de 2.4GHz, por isso o sinal sofrerá menor interferência e a rede terá melhor performance.</p>
						<p>Ficou interessado em trabalhar com mais equipamentos para manter uma boa performance de rede wireless? <a href="http://www.sohoshop.com/seja-uma-revenda?gclid=Cj0KCQiAq6_UBRCEARIsAHyrgUyMOnMrZhORSj07xn6QHXkToFA523oXRjQV9RJR27LJrqpU2GjjztkaAkUeEALw_wcB">Conheça os benefícios</a> que só os revendedores Soho Shop têm.</p>
					</article>

				</section>

			</div>
		</div>
	</section>
</div>