<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="blog.css">

<div class="soho-blog">
	<!-- <section class="main-banner">
		<div class="desktop">
			<img src="banner-desktop.png" alt="Banner Blog">			
		</div>

		<div class="mobile">
			<img src="banner-mobile.png" alt="Banner Blog">
		</div>
	</section> -->

	<section class="content">
		<div class="content--wrapper">
			<div class="content__category">
				<span class="content__category--tag">SEÇÃO DO BLOG</span>
				<div class="content__category--date mobile">
					<span class="date"> Junho de 2018 </span>
					<span class="update"> <em>  </em> </span>
				</div>
			</div>
			<div class="content__title">
				<h1>As inovações tecnológicas que vão impactar o mercado residencial</h1>
				<p class="content__category--date desktop"> 
					<strong> </strong> 
					<span> <em> </em></span>
				</p>
			</div>
			<div class="content__article">
				<section class="content__article--top">			
					<article>
						Você acompanha as últimas inovações tecnológicas do mercado? Se não, saiba que pode estar perdendo para a concorrência!			
					</article>

					<figure>
						<img src="inovacoes.jpg" alt="" width="" height="">
						<figcaption></figcaption>
					</figure>

					<article>
						<p>As inovações tecnológicas estão surgindo a todo momento. Assim, vários segmentos do mercado acabam sofrendo a interferência positiva desse novo tempo. Um deles é o residencial. Uma área bastante ampla, na qual ideias podem ser aplicadas para melhorar o dia a dia das pessoas.</p>
						<p>Entendendo esse cenário, trouxemos para você as inovações tecnológicas que ditarão uma nova cultura, dando exemplos de como isso afetará a rotina. Prepare-se para atender às demandas do futuro, conhecendo as novidades dos ambientes residenciais.</p>
					</article>
				</section>

				<section class="content__article--bottom">
					<h2>Principais inovações tecnológicas para o mercado residencial</h2>

					<article>
						<p>Segundo uma pesquisa realizada pela Cisco, o nível de tráfego IP global vem crescendo de maneira exponencial desde 2014. irá triplicar entre os anos de 2014 e 2019. Isso significa que será impulsionado de forma exponencial. Ficou destacadoDestacam, ainda, que alguns pontos vão gerar esse crescimento de fluxo. Indo desde o aumento em si de usuários  conectados, passando pelo uso de dispositivos móveis e também sendo relacionado a duas inovações tecnológicas presentes nas residências:</p>
						
					</article>

					<h2>IoT - Internet das Coisas</h2>
					<article>
						<p>O conceito básico para entender o que é de fato IoT pode ser descrito como a comunicação entre objetos, a partir da conexão via internet. Mas, também aliando inteligência a esse processo. Exemplo disso é o tão falado caso da geladeira, que vai identificar sozinha os itens que estão faltando e enviar um alerta. Ou mesmo, irá efetuar um pedido automático para alguma loja integrada, o qual será entregue na sua casa automaticamente.</p>
						<p>Para aplicar essa estrutura degarantir que o IoT funcione na prática, é necessário existir dispositivos equipados com sensesores  itens que proporcionem a comunicação (geladeira com sensores), redes que permitam a transição transmissão eficiente de dados e sistemas de controle que, basicamente, são os aplicativos que capturam e transformam as informações em serviços.</p>


					</article>

					<h2>M2M - Conexão Máquina a Máquina</h2>
					<article>
						<p>O M2M ocorre quando você possui dois dispositivos trocando informações, sem que exista a interferência humana. Ou seja, com o crescimento das redes de sensores, sem fio e da internet, essa comunicação entre máquinas é facilitada.</p>
						<p>Exemplo de como isso pode ser usado dentro do mercado residencialresidencial seria a instalação de sensores que captam as informações de luminosidade do ambiente externo e que conversam diretamente com o sistema de iluminação da casa, ajustando automaticamente a intensidade da luz para economia de energia.</p>
					</article>

					<h2>Implementação das inovações tecnológicas</h2>
					<article>
						<p>Já imaginou um despertador que, ao te acordar, envia um comando para a cafeteira iniciar o processo de preparação do café? É Parece um sonho para muitas pessoas, mas ter essa área sensação de conforto e facilidade já é realidade graças  será um dos principais pontos com a implementação das inovações tecnológicas citadas anteriormente.</p>
						<p>Além deladisso, irão surgira inovação está presente nas novas tendências na área de segurança, como sistemas de câmeras que permitem que o usuário acompanhe em aplicativo móvel tudo o que acontece em sua residência.mais avançados. </p>
					</article>

					<h2>Importância de se preparar para novas demandas</h2>
					<article>
						<p>Percebeu como essas inovações tecnológicas vão exigir do mercado um nível cada vez mais avançado de ferramentas disponíveis? É por isso que você precisa ficar atento para sair na frente, oferecendo soluções de estruturação de rede que possam atender todo esse nível de conectividade.</p>
						<p>Gostou de saber mais sobre as inovações tecnológicas que vão impactar o mercado residencial? Continue acompanhando o blog da Soho Shop e fique por dentro das novidades.</p>
					</article>
				</section>

			</div>
		</div>
	</section>
</div>