<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="blog.css">

<div class="soho-blog">
	<!-- <section class="main-banner">
		<div class="desktop">
			<img src="banner-desktop.png" alt="Banner Blog">			
		</div>

		<div class="mobile">
			<img src="banner-mobile.png" alt="Banner Blog">
		</div>
	</section> -->

	<section class="content">
		<div class="content--wrapper">
			<div class="content__category">
				<span class="content__category--tag">SEÇÃO DO BLOG</span>
				<div class="content__category--date mobile">
					<span class="date"> Junho de 2018 </span>
					<span class="update"> <em>  </em> </span>
				</div>
			</div>
			<div class="content__title">
				<h1>Internet das Coisas (IoT): você sabe o que é?</h1>
				<p class="content__category--date desktop"> 
					<strong> </strong> 
					<span> <em> </em></span>
				</p>
			</div>
			<div class="content__article">
				<section class="content__article--top">			
					<article>
						Vamos colocar uma das tendências mais comentadas da atualidade em pauta? Saiba o que é Internet das Coisas (IoT) e fique por dentro do assunto.			
					</article>

					<figure>
						<img src="internet-das-coisas.jpg" alt="" width="" height="">
						<figcaption></figcaption>
					</figure>

					<article>
						<p>Algumas tecnologias surgem de forma rápida e logo são utilizadas em diversos ambientes. Enquanto outras sabemos que existem, mas vai demorar um certo tempo até que possam ser utilizadas no nosso dia a dia. No caso da Internet das Coisas (IoT), sua aplicação já está sendo realizada hoje! Você não estava sabendo disso?</p>
						<p>A tendência, que vem chamando cada vez mais a atenção do mercado, é fundamental para entendermos como vai funcionar a <a href="https://www.sohoshop.com/especiais/solucao-residencial/">Casa do Futuro</a>. Quer conhecer mais sobre a Internet das Coisas (IoT)? Continue a leitura e descubra tudo o que precisa saber.</p>
					</article>
				</section>

				<section class="content__article--bottom">
					<h2>Afinal, o que é a Internet das Coisas (IoT)?</h2>

					<article>
						<p>Mencionada nas últimas discussões sobre os avanços tecnológicos, a Internet of Things ou Internet das Coisas (IoT) se trata da comunicação entre objetos. Estes podem ser físicos ou virtuais, mas todos contam com o acréscimo da inteligência. Assim, os itens precisam estar equipados com chips, sensores e/ou antenas a fim de possibilitar essa conectividade.</p>
						<p>Isso significa que tudo pode ser estará interligado através de da redesrede IP, somado a capacidade de tomar ações e decisões sem intervenção humana. Para funcionar, é preciso que existam 3 componentes básicos:</p>

						<div class="content__article--bottom--list">
						<ul>
							<li>Dispositivos: vão desde produtos grandes - como uma geladeira ou um carro -, até itens bem pequenos - como lâmpadas ou relógios;</li>
							<li>Redes de Comunicação: variam de acordo com a aplicação, mas é possível bem provável  que haja um misto de conjunto de rede cabeada com rede sem fio; wireless, 4G e bluetooth</li>
							<li>Sistemas de Controle: são os aplicativos que farão todo o controle de inteligência, a fim de transformar os dados captados em serviços autônomos.</li>
						</ul>
					</div>
						
					</article>

					<h2>Relação entre a Internet das Coisas (IoT) e a Casa do Futuro</h2>
					<article>
						<p>A Internet das Coisas (IoT) vem sendo aplicada em diversas áreas, como saúde, agricultura ou na indústria. na saúde, na agricultura e em indústrias. Na parteo ambiente residencial, essa tecnologia faz parte depode estar presente em sistemas de monitoramento e segurança, medidores inteligentes, controle de iluminação , controle da e variação de temperatura, aparelhos de entretenimento, itens de cozinhaeletrodomésticos etc, entre vários outros.</p>
						<p>E é nesse cenário que a tendência vai causar maior impacto, pois a previsão é que o ambiente residencial seja responsável porcom previsão  60% das conexões até o ano de 2020(Fonte?). Por isso, a Internet das Coisas (IoT) é um conceito muito relacionado à Casa do Futuro. Na qual tudo estará conectado, fornecendo soluções que, até então, pareciam inimagináveis.</p>

					</article>

					<h2>Por que é preciso entender sobre a Internet das Coisas (IoT)?</h2>
					<article>
						<p>Após descobrir do que se trata a Internet das Coisas (IoT), você pode se perguntar: “por que devo me preocupar agora?”. Talvez ainda leve um tempo para que todos possam ter acesso a esses recursos totalmente conectados e, ainda, dotados de inteligência.</p>
						<p>Mas, esse é um mercado que já está em amplo crescimento </p>
						<p>Você deve estar preparado(a) para isso, uma vez que sua loja será um ponto de busca por esses dispositivos inteligentes e elementos de rede de comunicação básicos. Estes darão suporte para que ocorra o funcionamento da rede de comunicação. O fluxo de dados passará a ser cada vez maior, o que implica na necessidade de em ter uma infraestrutura de rede preparada para mais robusta.</p>
						<p>Quando for tomada a decisão de compra sobre os equipamentos e materiais com os quais trabalhar, é fundamental inserir aqueles que são importantes para uma boa aplicação de IoT. A verdade é que tudo isso vai afetar a demanda. EE estar preparado(a) para essa transformação será um diferencial para o seu negócio.</p>
						<p>Gostou de saber o que é a Internet das Coisas (IoT)? Para conferir mais dicas importantes como essa, continue acompanhando o blog da Soho Shop. Até mais!</p>
					</article>					
				</section>

			</div>
		</div>
	</section>
</div>