<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../../build/assets/css/banner-paginaproduto.css">

<section class="informacoestecnicas">
		<p class="informacoestecnicas-wrapper">Informações Técnicas</p>

		<div class="informacoestecnicas-box">
			<p class="informacoestecnicas-box--title">Agilize seu pedido</p>
			<p class="informacoestecnicas-box--subtitle">Substitua este produto por:</p>

			<div class="informacoestecnicas-box--img">
				<img src="imgs/img-informacoestecnicas.png">
			</div>

			<div class="informacoestecnicas-box--description">
				<p class="informacoestecnicas-box--description--title"> fk-ceo-4m-144f (24f) (conjunto de emenda óptica aéreo/subterraneo)</p>
				<img src="imgs/produto-padrao-img.png">
				<p class="informacoestecnicas-box--description--text">produto <br> <strong>padrão</strong></p>
			</div>

			<div class="informacoestecnicas-box--compatibility">
				<div class="informacoestecnicas-box--compatibility--item informacoestecnicas-box--compatibility--100">
					<p class="informacoestecnicas-box--compatibility--title informacoestecnicas-box--compatibility--title--100">Produto 100% compatível</p>
				</div>

				<div class="informacoestecnicas-box--compatibility--item informacoestecnicas-box--compatibility--comajuste hidden">
					<p class="informacoestecnicas-box--compatibility--title informacoestecnicas-box--compatibility--title--comajuste">produto compatível - com ajuste de projeto</p>
					<p class="informacoestecnicas-box--compatibility--comajuste--comment">O produto padrão sugerido não é conectorizado</p>
				</div>
			</div>
		</div>
</section>