<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="blog.css">

<div class="soho-blog">
	<section class="main-banner">
		<div class="desktop">
			<img src="banner-desktop.png" alt="Banner Blog">			
		</div>

		<div class="mobile">
			<img src="banner-mobile.png" alt="Banner Blog">
		</div>
	</section>

	<section class="content">
		<div class="content--wrapper">
			<div class="content__category">
				<span class="content__category--tag">SEÇÃO DO BLOG</span>
				<div class="content__category--date mobile">
					<span class="date"> 12 de janeiro de 2018 </span>
					<span class="update"> <em> (Atualizado em 23/02/2018, 15h15) </em> </span>
				</div>
			</div>
			<div class="content__title">
				<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
				<p class="content__category--date desktop"> 
					<strong>Vitor Oliveira | 12 de Janeiro de 2018 </strong> 
					<span> <em>(Atualizado em 23/02/2018, 15h15) </em></span>
				</p>
			</div>
			<div class="content__article">
				<section class="content__article--top">			
					<article>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.			
					</article>

					<figure>
						<img src="image1.png" alt="" width="" height="">
						<figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit</figcaption>
					</figure>

					<article>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</article>
				</section>

				<section class="content__article--bottom">
					<div class="content__article--bottom--list">
						<h2>Lorem ipsum</h2>
						<ul>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
						</ul>
					</div>

					<figure>
						<img src="image2.png" alt="" width="" height="">
						<figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit</figcaption>
					</figure>

					<article class="content__article--bottom--right">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</article>

					<section class="content__article--bottom--quote">
						<blockquote> <em>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat </em>
						</blockquote>
						<p> <strong>Vitor Oliveira</strong>, jornalista</p>				
					</section>

					<article>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</article>
				</section>

				<section class="content__article--table">
					<table>
						<thead>
							<th>Lorem ipsum</th>
							<th>Lorem ipsum</th>
							<th>Lorem ipsum</th>
						</thead>
						<tbody>
							<tr>
								<td>Lorem ipsum</td>
								<td>Lorem ipsum</td>
								<td>Lorem ipsum</td>
							</tr>
						</tbody>
					</table>
				</section>

			</div>
		</div>
	</section>
</div>