@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('./animates.css');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a:link{
    color: inherit;
    text-decoration: none;
}

a:visited{
    color: inherit;
    text-decoration: none;
}


.x-furukawa{
    &__top-container{
        > h2{
            font-size: 22px;
            font-weight: 300;
            color: #009250;
            text-align: center;
            text-transform: uppercase;
            width: 100%;

            span{
                font-weight: 900;
            }
        }

        > p{
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            padding: 0 20px;
            width: 80%;
            margin: 0 auto 20px;
        }

        > img{
            width: 100%;
        }
    }

    &__container{
        &-banner{
            position: relative;

            > img{
                width: 100%;
            }
        }

        &-benefit{
            ul{
                display: flex;
                flex-wrap: wrap;
                flex-shrink: 0;
                justify-content: space-between;
                align-items: center;

                li {
                    width: 40%;
                    padding: 10px;
                    border: 1px solid #009250;
                    color: #009250;
                    height: 50px;
                    margin: 10px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    background: #fff;
                    text-align: center;
                    font-size: 14px;

                    &:before{
                        content: '';
                        height: 22px;
                        width: 1px;
                        background: #009250;
                        position: absolute;
                        bottom: -22px;
                    }

                    &:nth-child(odd){
                        &:before{
                            left: 35%
                        }
                    }

                    &:nth-child(even){
                        &:before{
                            right: 35%
                        }                            
                    }

                    &:nth-child(7), &:nth-child(8){
                        &:before{
                            display: none;
                        }
                    }

                    &:nth-child(1), &:nth-child(7){
                        &:after{
                            content: '';
                            width: 20%;
                            height: 1px;
                            background: #009250;
                            position: absolute;
                            right: -20%;
                        }
                    }
                }
            }
        }
    }

    &__banner-text{
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        color: #fff;

        img{
            width: 50%;
            margin: 0 5% 0 15%;
        }

        h1{
            font-size: 19px;
            margin: 0;
            border-bottom: 2px solid #fff;
            font-weight: 900;
            text-transform: uppercase;
            width: 65%;       
        }

        P{
            margin: 0;
            font-size: 14px;
            font-weight: 300;
            width: 90%;

            span{
                font-weight: 700;
            }
        }
    }

    &__main-container{        
        p{
            font-size: 18px;
            font-weight: 100;
            padding: 0 20px;
            
            &.x-bold-text{
                font-weight: 900;
                font-size: 20px;
            }
        }
        
        h3{
            font-size: 20px;
            margin: auto;
            font-weight: 300;
            margin-top: 40px;
            text-align: center;
            
            span{
                font-weight: 900;
            }
        }
        
        ul{
            list-style: none;
            padding: 20px;
            height: 128px;
            
            li{
                div{
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    color: #fff;
                }
                
                h4{
                    margin: 10px 0 0;
                    font-size: 21px;
                    text-transform: uppercase;
                    text-align: center;
                }
                
                p{
                    margin: 0;
                    font-weight: 100;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 14px;
                }
                
                &.x-furukawa-generation{
                    background-color: #67a33e;
                }
                
                &.x-furukawa-substation{
                    background-color: #039649;
                }
                
                &.x-furukawa-transmission{
                    background-color: #38785c;
                }
                
                &.x-furukawa-distribution{
                    background-color: #305343;
                }
            }
        }
    }
}

.x-energy-life{
    width: 85px;
    height: 95px;
    font-size: 20px;
    text-align: right;
    padding-right: 5px;
    margin-right: 5px;
    display: block;
    color: #239148;
    font-weight: 950;
    border-right: 1px solid #cccccc;
    float: left;
}

.x-new-challenges{
    width: 95px;
    height: 110px;
    font-size: 20px;
    text-align: right;
    padding-right: 5px;
    margin-right: 5px;
    display: block;
    color: #239148;
    font-weight: 950;
    border-right: 1px solid #cccccc;
    float: left;
}

.x-optical-fiber{
    width: 80px;
    height: 50px;
    font-size: 20px;
    text-align: right;
    padding-right: 5px;
    margin-right: 5px;
    display: block;
    color: #239148;
    font-weight: 950;
    border-right: 1px solid #cccccc;
    float: left;
}

.x-furukawa-leader{
    width: 110px;
    height: 90px;
    font-size: 20px;
    text-align: right;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 20px;
    display:flex;    
    align-items:center;
    color: #239148;
    font-weight: 950;
    border-right: 1px solid #cccccc;
    float: left;
}

.swiper-container{
    width: 100%;
}

.swiper-wrapper{
    width: 100%;
}

.swiper-slide-active{
    width: 280px !important;
    padding: 20px 0;
    top: -20px;
    box-shadow: 5px 10px 18px #888888;
}

@media screen and (min-width: 1200px){
    a:link{
        color: inherit;
        text-decoration: none;
    }
    
    a:visited{
        color: inherit;
        text-decoration: none;
    }
    .x-furukawa{
        &__top-container{
            > h2{
                padding: 0 20px;
                font-size: 40px;
                font-weight: 300;
                color: #009250;
                text-align: center;
                text-transform: uppercase;
                width: 70%;
                margin: 30px auto 5px;
    
                span{
                    font-weight: 900;
                }
            }
    
            > p{
                text-align: center;
                font-size: 25px;
                font-weight: 300;
                padding: 0 20px;
                width: 80%;
                margin: 0 auto 20px;
            }
    
            > img{
                width: 92%;
                margin: 30px 4%
            }
        }
    
        &__container{
            &-content{
                width: 85%;
                margin: 0 auto;
            }
            &-text{
                margin-top: 30px;
            }
            &-banner{
                position: relative;
    
                > img{
                    width: 100%;
                    height: 200px;
                }
            }
    
            &-benefit{
                width: 80%;
                margin-left: auto;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    flex-shrink: 0;
                    justify-content: space-between;
                    align-items: center;
    
                    li {
                        width: 20%;
                        padding: 10px;
                        border: 1px solid #009250;
                        color: #009250;
                        height: 50px;
                        margin: 10px 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        background: #fff;
                        text-align: center;
                        font-size: 14px;
    
                        &:before{
                            content: '';
                            height: 22px;
                            width: 1px;
                            background: #009250;
                            position: absolute;
                            bottom: -22px;
                        }
    
                        &:nth-child(odd){
                            &:before{
                                left: 50%
                            }
                        }
    
                        &:nth-child(even){
                            &:before{
                                right: 50%
                            }                            
                        }
                        &:nth-child(2),&:nth-child(3),
                        &:nth-child(5),&:nth-child(6),
                        &:nth-child(7), &:nth-child(8){
                            &:before{
                                display: none;
                            }
                        }
    
                        &:nth-child(1), &:nth-child(2), &:nth-child(3),  &:nth-child(6), &:nth-child(5), &:nth-child(7){
                            &:after{
                                content: '';
                                width: 20%;
                                height: 1px;
                                background: #009250;
                                position: absolute;
                                right: -20%;
                            }
                        }
                    }
                }
            }
        }
    
        &__banner-text{
            position: absolute;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 40%;
            color: #fff;

            img{
                width: 40%;
                margin: 30px 30px 0 80px;
            }
    
            h1{
                width: 79%;
                margin: 0;
                font-size: 40px;
                border-bottom: 2px solid #fff;
                font-weight: 900;
                text-transform: uppercase;
            }
    
            p{
                width: 100%;
                margin: 10px 0 0 0;
                font-size: 18px;
                font-weight: 300;
                span{
                    font-weight: 700;
                }
            }
        }
    
        &__main-container{        
            p{
                font-size: 20px;
                font-weight: 300;
                padding: 0 35px;
                
                &.x-bold-text{
                    font-weight: 900;
                    font-size: 20px;
                }
            }
            
            h3{
                font-size: 25px;
                margin: auto;
                font-weight: 300;
                margin-top: 40px;
                text-align: center;
                
                span{
                    font-weight: 400;
                }
            }
            
            ul{
                list-style: none;
                padding: 0;
                height: 128px;
                
                li{
                    div{
                        padding: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        color: #fff;
                    }
                    
                    h4{
                        margin: 10px 0 0;
                        font-size: 25px;
                        text-transform: uppercase;
                        text-align: center;
                    }
                    
                    p{
                        margin: 0;
                        font-weight: 400;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 18px;
                    }

                    &.x-furukawa-carousel{
                        width: 305px !important;
                        height: 150px;
                    }

                    &.x-furukawa-generation{
                        background-color: #6ca32c;
                    }
                    
                    &.x-furukawa-substation{
                        background-color: #269640;
                    }
                    
                    &.x-furukawa-transmission{
                        background-color: #38785c;
                    }
                    
                    &.x-furukawa-distribution{
                        background-color: #305343;
                    }
                }
            }
        }
    }

    .x-spacing{
        margin-bottom: 60px;
    }
    
    .x-spacing:nth-child(4){
        margin-bottom: 20px;
    }
    
    .x-energy-life{
        width: 120px;
        height: 190px;
        font-size: 35px;
        text-align: right;
        padding-right: 25px;
        margin-right: 25px;
        display: block;
        color: #19A057;
        font-weight: 950;
        border-right: 2px solid #cccccc;
        float: left;
    }
    
    .x-new-challenges{
        width: 165px;
        height: 240px;
        font-size: 35px;
        text-align: right;
        padding-right: 20px;
        margin-right: 20px;
        display: block;
        color: #19A057;
        font-weight: 950;
        border-right: 2px solid #cccccc;
        float: left;
    }
    
    .x-optical-fiber{
        width: 165px;
        height: 220px;
        font-size: 35px;
        text-align: right;
        padding-right: 20px;
        margin-right: 20px;
        display: block;
        color: #19A057;
        font-weight: 950;
        border-right: 2px solid #cccccc;
        float: left;
    }
    
    .x-furukawa-leader{
        width: 145px;
        height: 100px;
        font-size: 35px;
        text-align: right;
        padding-right: 20px;
        margin-right: 20px;
        display:flex;    
        align-items:center;
        color: #19A057;
        font-weight: 950;
        border-right: 2px solid #cccccc;
        float: left;
    }

    .swiper-container{
        width: 100%;
        margin: 30px 0 50px 0;
    }

    .swiper-wrapper{
        width: 90%;
        margin: 0 auto;
        justify-content: center;
    }

    .swiper-slide-active{
        width: 320px !important;
        padding: 0;
        top: 0 !important;
    }

}