@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a:link{
    color: inherit;
    text-decoration: none;

}

a:visited{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
    text-decoration: none;
}
.x-furukawa{
    &__top-container{
        > h2{
            padding: 0px 20px;
            font-size: 22px;
            font-weight: 300;
            color: #009250;
            text-align: center;
            text-transform: uppercase;

            span{
                font-weight: 900;
            }
        }

        > p{
            text-align: center;
            font-size: 16px;
            font-weight: 100;
            padding: 0 20px;
            width: 80%;
            margin: 0 auto 20px;
        }

        > img{
            width: 100%;
        }
    }

    &__container{
        &-banner{
            position: relative;

            > img{
                width: 100%;
            }
        }
        &-title{
            display: flex;
            align-items: center;
        }
        &-text{
            color: black;
        }
    }

    &__banner-text{
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        color: #fff;

        img{
            width: auto;
            margin-right: 25px;
            margin-bottom: 5px;
        }

        h1{
            width: 120px;
            font-size: 17px;
            border-bottom: 2px solid #fff;
            font-weight: 800;
            text-transform: uppercase;
            margin: 25px 0 0 0;
        }

        p{
            margin: 5px 0 30px 0;
            font-size: 12px;
            font-weight: 300;

            span{
                font-weight: 700;
            }
        }
        &--back{
            display: flex;
            flex-direction: row;
            justify-content: right;
            padding: 5px 10px;
            color:#a1a1a1;
            font-size: 14px;
        }
    }

    &__main-container{        
        p{
            font-size: 16px;
            font-weight: 100;
            padding: 0 20px;            
            &.x-bold-text{
                font-weight: 900;
                font-size: 20px;
            }
            &.x-italic-text{
                text-align: center;
                font-style: italic;
                color: black;
                font-weight: 300;
            }
        }

        h3{
            font-size: 20px;
            margin: auto;
            font-weight: 300;
            margin-top: 40px;
            text-align: center;
            
            span{
                font-weight: 900;
            }
        }
        
        ul{
            list-style: none;
            padding: 0px;
            height: auto;
            li{
                div{
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    color: #fff;
                }
                h4{
                    margin: 10px 0 0;
                    font-size: 21px;
                    text-transform: uppercase;
                    text-align: center;
                }
                
                p{
                    margin: 0;
                    font-weight: 100;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 14px;
                }
                
                &.x-furukawa-generation{
                    background-color: #67a33e;
                }
                
                &.x-furukawa-substation{
                    background-color: #039649;
                }
                
                &.x-furukawa-transmission{
                    background-color: #38785c;
                }
                
                &.x-furukawa-distribution{
                    background-color: #305343;
                }
            }
        }
    }

    &__infrastructure{
        width: 70%;
        height: 120px;
        margin: 0 auto 25px auto;
        padding: 20px !important;
        background:#6ca32c !important;
        &-title{
            font-weight: 300;
            text-transform: none !important;
            font-size: 16px !important;
        &--bold{
            margin: 15px auto !important;
            font-weight: 900 !important;
            font-size: 24px !important;
        }
        }
    }

    &__slider{
        width: 100%;
        height: auto;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        &-text{
            width: 90%;
            margin: 10px auto !important;
            color: black;
            font-size: 16px !important;
            text-align: initial !important;
            text-transform: none !important;
        }
        &-box{
            width: 100%;
            height: 300px;
            margin-top: 10px;
            background:#6ca32c;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &-button{
            filter: grayscale(100%);
            width: 50px;
            padding: 0px;
            height: 20px;
            margin: -10px 0;
            top: 25px;
            &--hide{
                display: none;
            }
        }
        &--item{
            color: #6ca230;
            font-weight: 900;
        }
    }

    &__list{
        width: 75%;
        height: auto !important;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--item{
            display: flex;
            align-items: center;
            font-weight: 900;
            margin: 10px;
        }
    }

    &__square{
        background: #fff;
        margin-right: 10px;
        padding: 10px;
    }

    &__images{
        width: 95%;
        margin: 10px auto;
        display: block;
    }
}

.x-center{
    text-align: center;
}

.x-solution__features{
    width: 85%;
    margin: 10px auto !important;
    text-align: left !important;
    color: #6ca32c;
    font-weight: 900 !important;
    font-size: 22px !important;
    border-bottom: 2px solid #cccdc8;
    &--item{
        display: block;
        text-align: left;
        font-size: 16px;
        > strong{
            font-size: 20px;
            font-weight: 800;
        }
    }
}

.x-energy-life{
    width: 85px;
    height: 95px;
    font-size: 25px;
    text-align: right;
    padding-right: 5px;
    margin-right: 5px;
    display: block;
    color: #239148;
    font-weight: 950;
    border-right: 1px solid #cccccc;
    float: left;
}

.x-new-challenges{
    width: 100px;
    height: 95px;
    font-size: 25px;
    text-align: right;
    padding-right: 5px;
    margin-right: 5px;
    display: block;
    color: #239148;
    font-weight: 950;
    border-right: 1px solid #cccccc;
    float: left;
}

.x-optical-fiber{
    width: 95px;
    height: 65px;
    font-size: 25px;
    text-align: right;
    padding-right: 5px;
    margin-right: 5px;
    display: block;
    color: #239148;
    font-weight: 950;
    border-right: 1px solid #cccccc;
    float: left;
}

.x-furukawa-leader{
    width: auto;
    height: 65px;
    font-size: 25px;
    text-align: right;
    padding-right: 5px;
    margin-right: 5px;
    display:flex;    
    align-items:center;
    color: #239148;
    font-weight: 950;
    border-right: 1px solid #cccccc;
    float: left;
}

.x-title{
    width: 95px;
    height: 95px;
    font-size: 25px;
    text-align: right;
    padding-right: 5px;
    margin: 0 5px 0 10px;
    display: block;
    color: #6ca12d;
    font-weight: 950;
    border-right: 1px solid #cccccc;
    float: left;
}

.x-bold-title{
    width: 90%;
    font-weight: 900 !important;
    color: black ;
    margin: 20px auto !important;
}

.x-interconnect-option{
    width: 140px;
    height: 65px;
    font-size: 25px;
    text-align: right;
    padding-right: 5px;
    margin-right: 5px;
    display: block;
    color: #6ca12d;
    font-weight: 800;
    border-right: 1px solid #cccccc;
    float: left;
}


.x-caret{
    transform: rotate(90deg);
}
//Estilo do swiper

.swiper-container {
    width: 100%;
    height: 100%;
    margin: auto;
}
